.main_title {
    position: relative;
    width: max-content;
    font-size: 36px;
    font-weight: 600;
    margin: 20vmin auto;
    letter-spacing: 0.4em;
    color: var(--color-main-text);
    z-index: 1;

    &::after {
        content: attr(data-word);
        position: absolute;
        top: 6px;
        left: 6px;
        width: max-content;
        background-image: linear-gradient(
            -45deg,
            var(--color-main-text) 0%,
            var(--color-main-text) 20%,
            transparent 20%,
            transparent 50%,
            var(--color-main-text) 50%,
            var(--color-main-text) 70%,
            transparent 70%,
            transparent 100%
        );
        background-size: 6px 6px;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        z-index: -1;
    }
}
