:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    text-align: center;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: var(--color-subtitle-text);
}

a:hover {
    color: var(--color-main-text);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-main-text: #1a1a1a;
        --color-subtitle-text: #979797;

        --bg-color-preview: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-main-text: #f8f9fa;
        --color-subtitle-text: #adb5bd;
        --color-component-item-name: #ced4da;
        --color-component-item-name-hover: #f8f9fa;
        --color-component-item-desc: #868e96;
        --color-component-item-desc-hover: #adb5bd;

        --bg-color-preview: #131313;
        --bg-color-dictionary-header: #131313;
        --bg-color-dictionary-list: #131313;

        --btu-icon-bg-color-hover: #ffffff;
        --btu-icon-bg-color: #585858;

        --border-color-menu-item: #585858;
        --border-color-menu-item-hover: #ffffff;
    }
}
